@mixin utils-user-select($value)
{
    -webkit-user-select: $value;
       -moz-user-select: $value;
        -ms-user-select: $value;
}

@mixin utils-clearfix
{
    $selector: &;

    @at-root
    {
        #{$selector}::before,
        #{$selector}::after
        {
            display: table;

            content: '';
        }
        #{$selector}::after
        {
            clear: both;
        }
    }
}

@mixin utils-vertical-center
{
    $selector: &;

    @at-root
    {
        #{$selector}::after
        {
            display: inline-block;

            height: 100%;

            content: '';
            vertical-align: middle;
        }
    }
}

@mixin utils-ellipsis
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
