@charset 'UTF-8';
@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/utils';

.ms-back-top-fade-enter,
.ms-back-top-fade-leave-active {
  opacity: 0;
}

@include b(back-top) {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: opacity 0.3s linear;
  opacity: 0.55;
  background: $--color-black;
  text-align: center;
  line-height: 40px;
  color: $--color-white;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: fixed;
  bottom: 100px;
  right: 20px;
}
