@import 'mixins/mixins';
@import 'common/var';

@include b(alert) {
  width: 100%;

  @include when(center) {
    justify-content: center;
  }

  @include m(success) {
    width: 100%;

    .el-alert__description {
      width: 100%;
    }
  }

  @include m(info) {
    width: 100%;

    .el-alert__description {
      width: 100%;
    }
  }

  @include e(content) {
    width: 100%;
  }

  @include e(icon) {
    width: 100%;

    @include when(big) {
      width: 100%;
    }
  }
}
