@import './common/_var.scss';

@font-face {
  font-family: 'meisha-icons';
  src: url('#{$--font-path}/meisha-icons.eot'); /* IE9*/
  src: url('#{$--font-path}/meisha-icons.eot#iefix') format('embedded-opentype'), url('#{$--font-path}/meisha-icons.woff') format('woff'),
    url('#{$--font-path}/meisha-icons.ttf') format('truetype'), url('#{$--font-path}/meisha-icons.svg#iconfont') format('svg'); /* iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}

[class^='ms-icon-'],
[class*=' ms-icon-'] {
  font-family: 'meisha-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ms-icon-arrow-right:before {
  content: '\e6df';
}


// TODO: 添加其他按钮
