@charset 'UTF-8';
@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/utils';

@include b(input-number) {
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  display: inline-flex;
  align-items: center;
  background: $--color-white;
  border-radius: 3px;
  box-sizing: border-box;
  @include font-dpr($--font-size-small);
  color: $--color-text-regular;

  @include e(button) {
    box-sizing: border-box;
    width: 52px;
    height: inherit;
    line-height: inherit;
    text-align: center;
    color: #9b99a9;
    outline: 0;
    border: 1px solid #e4e8ef;

    &:active {
      background: #f2f3f5;
    }

    @include when(disabled) {
      appearance: none;
      background: #fafafa;
    }
  }

  @include e(decrease) {
    font-size: 20px;
    border-radius: 3px 0 0 3px;
  }
  @include e(increase) {
    border-radius: 0 3px 3px 0;
    order: 2;
  }

  @include e(core) {
    box-sizing: border-box;
    width: 70px;
    height: inherit;
    font-size: inherit;
    color: inherit;
    appearance: none;
    border: 0;
    outline: 0;
    background: transparent;
    text-align: center;
    line-height: normal;
    border-top: 1px solid #e4e8ef;
    border-radius: 0;
    border-bottom: 1px solid #e4e8ef;
  }

  @include when(small) {
    height: 32px;
    line-height: 32px;
    .ms-input-number__button {
      width: 38px;
    }
    .ms-input-number__decrease,
    .ms-input-number__increase {
      font-size: 13px;
    }

    .ms-input-number__core {
      width: 52px;
    }
  }

  @include when(without-controls) {
    border: 1px solid #e4e8ef;
  }
}
