@charset 'UTF-8';
@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/utils';

@include b(input) {
  @include e(inner) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include font-dpr($--font-size-base);
  }

  @include e(label) {
    font-size: inherit;
    color: $--color-text-regular;
    margin-right: 8px;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include when(required) {
      display: flex;
      &::after {
        content: '*';
        display: block;
        @include font-dpr($--font-size-base);
        color: $--color-danger;
      }
    }
  }

  @include e(input) {
    text-align: right;
    appearance: none;
    border-radius: 0;
    border: 0;
    flex: 1;
    outline: 0;
    line-height: 1.6;
    font-size: inherit;
    width: 100%;
    color: $--color-text-secondary;
    background: transparent;

    @include placeholder {
      font-size: inherit;
      color: $--color-text-fourthly;
    }
  }

  @include when(disabled) {
    background: #fcfcfc;
    .ms-input__label,
    .ms-input__input {
      opacity: 0.3;
    }
  }
}
