@charset 'UTF-8';
@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/utils';

@include b(loading) {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  background: $--color-white;
  z-index: 10000;
  border-radius: 18px;

  @include e(wrapper) {
    transition: opacity 0.3s;
  }

  @include e(content) {
    height: 95px;
    width: inherit;
    overflow: hidden;
    position: relative;
  }

  @include e(dot) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    margin: auto;
  }

  @include e(oval) {
    width: 75px;
    height: 13px;
    background: #e2ebef;
    border-radius: 37.5px / 6.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  @include e(circular) {
    animation: circularxAxis 2.4s infinite linear;
    width: 34px;
    height: 34px;

    background: transparent;
    &::after {
      animation: circularyAxis 2.4s infinite backwards cubic-bezier(0.215, 0.61, 0.355, 1);
      content: ' ';
      display: block;
      width: 34px;
      height: 34px;

      border-radius: 100%;
      background: #ffb121;
    }
  }

  @include e(square) {
    width: 30px;
    height: 30px;

    background: transparent;
    animation: squarexAxis 2.4s infinite linear;

    &::after {
      animation: squareyAxis 2.4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
      content: ' ';
      display: block;
      width: 30px;
      height: 30px;

      border-radius: 4px;
      background: #43b9ff;
    }
  }

  @include e(triangle) {
    animation-delay: 0.3s;
    animation: trianglexAxis 2.4s infinite linear;
    text-align: center;
    &__img {
      animation-delay: 0.3s;
      animation: triangleyAxis 2.4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  @include e(text) {
    @include font-dpr(16px);

    position: absolute;
    right: 0;
    bottom: 16px;
    left: 0;

    overflow: hidden;

    height: 22px;
    margin: auto;

    text-align: center;

    color: #475669;
  }

  @include e(mask) {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    background: transparent;

    size: 100%;
  }
}

@keyframes circularxAxis {
  0% {
    transform: translateX(0) rotate(0);
  }
  // 先走圆的轨迹 2
  32% {
    transform: translateX(-15px);
  }
  // 回到原点
  33% {
    transform: translateX(0);
  }
  // 走三角形的轨迹 3
  65% {
    transform: translateX(-50px);
  }
  // 回到原点
  66% {
    transform: translateX(0) rotate(0);
  }
  // 走正方形的轨迹 1
  100% {
    transform: rotate(40deg);
  }
}

@keyframes circularyAxis {
  // 恢复透明度
  16%,
  34%,
  49%,
  67%,
  83% {
    opacity: 1;
  }
  // 先走圆的轨迹 2
  32% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -90px, 0);
  }
  // 回到原点
  33% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  // 走三角形的轨迹 3
  65% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -55px, 0);
  }
  // 回到原点
  66% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  // 走正方形的轨迹 1
  100% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -90px, 0);
  }
}

@keyframes squarexAxis {
  0% {
    transform: translateX(0) rotate(0);
  }
  // 先走正方形的轨迹 1
  32% {
    transform: rotate(40deg);
  }
  // 回到原点
  33% {
    transform: translateX(0) rotate(0);
  }
  // 走圆的轨迹 2
  65% {
    transform: translateX(-15px);
  }
  // 回到原点
  66% {
    transform: translateX(0) rotate(0);
  }
  // 走三角形的轨迹 3
  100% {
    transform: translateX(-50px);
  }
}

@keyframes squareyAxis {
  // 恢复透明度
  16%,
  34%,
  49%,
  67%,
  83% {
    opacity: 1;
  }
  0% {
    transform: translate3d(0) rotate(0);
  }
  // 先走正方形的轨迹 1
  32% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -70px, 0);
  }
  // 回到原点
  33% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  // 走圆的轨迹 2
  65% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -90px, 0);
  }
  // 回到原点
  66% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  // 走三角形的轨迹 3
  100% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -55px, 0);
  }
}

@keyframes trianglexAxis {
  0% {
    transform: translateX(0) rotate(0);
  }
  // 走三角形的轨迹 3
  32% {
    transform: translateX(-50px);
  }
  // 回到原点
  33% {
    transform: translateX(0) rotate(0);
  }
  // 走正方形的轨迹 1
  65% {
    transform: rotate(40deg);
  }
  // 回到原点
  66% {
    transform: translateX(0) rotate(0);
  }
  // 走圆形的轨迹 2
  100% {
    transform: translateX(-15px);
  }
}

@keyframes triangleyAxis {
  // 恢复透明度
  16%,
  34%,
  49%,
  67%,
  83% {
    opacity: 1;
  }
  0% {
    transform: translate3d(0) rotate(0);
  }
  // 走三角形的轨迹 3
  32% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -55px, 0);
  }
  // 回到原点
  33% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  // 走正方形的轨迹 1
  65% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -70px, 0);
  }
  // 回到原点
  66% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  // 走圆形的轨迹 2
  100% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -90px, 0);
  }
}

.ms-loading-fade-enter,
.ms-loading-fade-leave-active {
  opacity: 0;
}
