@charset 'UTF-8';
@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/utils';

@include b(radio) {
  display: inline-flex;
  align-items: center;

  @include e(input) {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
  }

  @include e(core) {
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
    position: relative;
  }

  @include e(dot) {
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.1s linear;
    opacity: 0;
  }

  @include when(checked) {
    .ms-radio__dot {
      opacity: 1;
    }
  }

  @include when(disabled) {
    opacity: 0.3;
  }

  @include when(button) {
    border: 1px solid #dadfe6;
    border-radius: 4px;
    padding: 7px 15px;

    .ms-radio__label {
      margin-left: 0;
    }

    &.is-checked {
      color: #00ca9d;
      border: 1px solid #00ca9d;
    }

    &.is-disabled {
      border: 1px solid #dadfe6;
    }
  }

  @include e(label) {
    @include font-dpr($--font-size-small);
    color: $--color-text-secondary;
    margin-left: 10px;

    &:empty {
      display: none;
    }
  }
}
