@charset 'UTF-8';
@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/utils';

@include b(switch) {
  display: inline-flex;
  align-items: center;
  @include font-dpr($--font-size-base);

  position: relative;
  * {
    pointer-events: none;
  }

  @include e(input) {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
  }

  @include e(core) {
    margin: 0;
    display: inline-block;
    position: relative;
    width: 48px;
    height: 26px;
    outline: none;
    border-radius: 37px;
    box-sizing: border-box;
    background-color: #dbdee4;
    transition: border-color 0.3s, background-color 0.3s;
    vertical-align: middle;

    .ms-switch__button {
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      transition: transform 0.3s;
      width: 18px;
      height: 18px;
      background-color: $--color-white;
    }

    @include when(checked) {
      background-color: #00ca9d;
    }

    @include when(disabled) {
      opacity: 0.3;
    }
  }

  @include e(label) {
    @include font-dpr($--font-size-base);
    color: $--color-text-regular;
    margin-left: 10px;

    &:empty {
      display: none;
    }
  }
}
