@charset 'UTF-8';
@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/utils';

@include b(tab-item) {
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 0;

  @include e(icon) {
    height: 25px;
    overflow: hidden;

    @include font-dpr($--font-size-base);

    &:empty {
      display: none;
    }
  }

  @include e(label) {
    line-height: 1;
    @include font-dpr($--font-size-mini);
    color: $--color-text-fourthly;
  }

  @include when(activated) {
    @include e(icon) {
    }
    @include e(label) {
      color: $--color-primary;
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
